.modal-header
    button.close(ng-click="cancel()") &times;
    h3.modal-title Лозан Лозев
.modal-body
    ul
        li(ng-repeat="t in teachers | filter: 'Лозан Лозев'") {{t.concurse}}
        hr
    h4 Към момента Лозан Лозев е член на Управителния съвет в Българска Асоциация на Барманите, мениджър на "Министерство на коктейлите" КК Златни пясъци и бранд амбасадор на "МОНИН".
.modal-footer
    button.btn.btn-warning(ng-click="cancel()") Ok