.container
    #teachers.row
        .col-sm-4.feature
            .panel.panel-danger
                .panel-heading
                    .panel-title {{teachers[0].name}}
                .panel-body
                    img.img-rounded(ng-src='images/{{teachers[0].picture}}', alt='{{teachers[0].name}}')
                .panel-footer
                p {{teachers[0].rang}}
                #ullist.ul
                    li(ng-repeat='t in teachers[0].teachingCourses track by $index') {{t}}
                button.btn.btn-danger.btn-block(ng-click="open('lg','ivo',teachers[0])") Повече информация

        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title {{teachers[1].name}}
                .panel-body
                    img.img-rounded(src='images/{{teachers[1].picture}}', alt='{{teachers[1].name}}')
                .panel-footer
                p {{teachers[1].rang}}
                #ullist.ul
                    li(ng-repeat='t in teachers[1].teachingCourses track by $index') {{t}}
                button.btn.btn-success.btn-block(ng-click="open('lg','lozan',teachers[1])") Повече информация

        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title {{teachers[2].name}}
                .panel-body
                    img.img-rounded(src="images/{{teachers[2].picture}}", alt='{{teachers[2].name}}')
                .panel-footer
                p {{teachers[2].rang}}
                #ullist.ul
                    li(ng-repeat='t in teachers[2].teachingCourses track by $index') {{t}}
                button.btn.btn-success.btn-block(ng-click="open('lg','rosen',teachers[2])") Повече информация
