.container
    #teachers.row
        .col-sm-4.feature
            .panel.panel-danger
                .panel-heading
                    .panel-title Ивайло Рангелов
                .panel-body
                    img.img-rounded(src="images/Ivailo.jpg" alt='Ivo Rangelov')
                .panel-footer
                p Основател на школите.
                p Преподавател курс - бармани и майсторски клас
                button.btn.btn-danger.btn-block(ng-click="open('lg','ivo')") Повече информация

        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title Лозан Лозев
                .panel-body
                    img.img-rounded(src="images/Lozan.jpg" alt='Lozan Lozev')
                .panel-footer
                p .
                p Преподавател курс - бармани
                button.btn.btn-success.btn-block(ng-click="open('lg','lozan')") Повече информация

        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title Росен Михайлов
                .panel-body
                    img.img-rounded(src="images/Roco.jpg" alt='Rosen Mihailov')
                .panel-footer
                p .
                p Преподавател курс - бармани и майсторски клас
                button.btn.btn-success.btn-block(ng-click="open('lg','rosen')") Повече информация
