doctype
html
    head
        title BaR ManageR
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        // Bootstrap CSS
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-glyphicons.css")


        // Other CSS
        //link(rel="stylesheet" href="/lib/toastr/toastr.css")

        // Custom CSS
        link(rel="stylesheet" href="/css/styles.css")

    body(ng-app='app')
        block main-content

        include scripts
