doctype
html
    head
        title Bar Manager
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes')

        // Bootstrap CSS
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-glyphicons.css")
        //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Poiret+One|Neucha|Tenor+Sans|Anonymous+Pro|Open+Sans+Condensed:300&subset=latin,cyrillic')

        // Other CSS
        //link(rel="stylesheet" href="/lib/toastr/toastr.css")

        // Custom CSS
        link(rel="stylesheet" href="/css/styles.css")

    body(ng-app='app')
        block main-content

        include scripts
