.container
    .well
        .page-header
            h1.text-center.text-primary Курс за коктейл-барман (класическо барманство)
        p.small.text-justify.hidden-xs От бармана зависят славата и успехът на заведението. Той трябва да притежава високи теоретични знания и практически умения, за да приготви коктейл с отлични, добре балансирани вкусови качества, с хармония в цвета и аранжировката. Не само вкусът на коктейла, но и  външният вид, както и атрактивния начин на приготвяне са особено приятни за окото и привличат нови клиенти. Важен фактор също е и умението за общуване с клиентите.
    .row
        .col-sm-6
            p.lead Описание на курса:
             ul
                 li Oбучението за коктейл-барман, което предлагаме е по програма на I.B.A - International Bartenders Association
                 li Обучението се провежда на групи от 5 до 12 участника.
                     p.small Могат да се включат всички, независимо от това дали имат опит или не (курсът е подходящи и за абсолютно начинаещи).
                 li Продължителността е 40 астрономически часа, които са разпреде-лени в 10 дни по 4 часа дневно.
                     p.small Много често ни питат дали не са малко 10 дни? Като брой дни може да са малко, но като часове - са много. Помислете си кой вариант е по-удачен:  курсът да продължава 2 месеца по 1 час дневно в работни дни или в рамките на 10 дни да се обучавате интензивно по 4 часа дневно? Нашия дългогодишен опит показва, че вторият вариант е по-успешен за това обучение.
                 li Всеки участник получава безплатно учебник, който се ползва и по време на обучението.
                     p.small Учебникът също е създаден от  Международната Асоциация на Барманите и е преведен на български език. Гарантираме персонално внимание на всеки от участниците в групата.
                 li Курсът завършва с полагане на изпит: тест + практика.
                 li След успешно завършване получавате сертификат от  Международната Асоциация на Барманите, валиден в 59 държави-членки на Асоциацията (включително и България)  и  гарантира пред бъдещите Ви работодатели, че имате необходимите познания и квалификация за работа като коктейл-барман.
                     p.small Сертификатът е на английски език и  НЕ е необходим легализиран превод при кандидатстване за работа в чужбина.
        .col-sm-6
            .thumbnail
                a(href='http://www.iba-world.com')
                    img(src="http://www.iba-world.com/templates/theme695/images/logo.png" alt="IBA logo")
                .caption
                    h3.text-center.text-danger Международната Асоциация на Барманите
                    p.small Асоциацията е създадена за  защита на професионалните интереси на барманите през 1951 г. в грандхотел "Торги", Англия. Приетият устав задължава барманите да имат високи професионални знания и умения, да постигат успехи и да обменят опит.
                    p.small Целта на Асоциацията е с курса за коктейл-барман  да се стандартизират знанията на бармана по цял свят.
                    a(href='http://www.iba-world.com')
                     p.small.text-center Списъкът със страните-членки можете да видите в сайта IBA
    h3
    p
    p Всичко това се постига разбира се с много опит, който обаче се гради на добра основа. Тази основа се опитваме да поставим и ние - школи за бармани "Бар Мениджър".
    p
    h2
    p
    p Но предвид изискванията към барманите в повечето български заведения - освен приготвяне на коктейли, са необходими и много други умения.
    p Затова в нашите школи обучението е по-разширено, за да подготвим нашите курсисти идеално за работа не само в чужбина, но и в България. Основната цел на курсовете, които предлагаме е участниците да придобият ефикасни умения, техники и знания, които да им послужат в последствие.
    p Ще получите не само теоретични знания за класификация на напитките, коктейлни рецепти, методи на миксиране, сервиране, техника на продажба, общуване с клиента, но и практически умения - подреждане на бар, работа с всички видове барови инструменти, приготвяне на коктейли, гарнитури, работа с кафемашина, основи на баристиката. Ще бъдете идеално подготвен за коктейл-барман.

    p Всеки участник в обучението става автоматично член и на  Българската Асоциация на Барманите (Б.А.Б).
    p Всяка година БАБ организира Национално състезание по барманство в 2 категории - класика и флеър.
    p Победителите участват в Световния конкурс, който също се  провежда всяка година.
    p Имаме удоволствието да ви съобщим, че през 2015 г.
    p България ще бъде домакин на Световния конкурс за бармани, което е огромна чест за нас.
