.container
    .col-lg-3
    .col-lg-6
        .panel.panel-danger
            .panel-heading Въведете вашите данни
            .panel-body
                form(role="form")
                    .form-group
                        label Име и Фамилия
                        input.form-control(placeholder="Име", type="text", autofocus="autofocus")
                        label Адрес
                        input.form-control(placeholder="Адрес", type="text")
                        label Телефон за връзка
                        input.form-control(placeholder="Телефон", type="text")
                        label EMAIL
                        input.form-control(placeholder="EMAIL", type="email")
                        label Коментар
                        textarea.form-control(placeholder="Коментар", rows="5")
