.container
    carousel(interval="myInterval")
        slide(ng-repeat="slide in slides", active="slide.active")
            img(ng-src="{{slide.image}}", style="margin:auto")
            carousel-caption
                h4 {{slide.textHeader}}
                p {{slide.textContent}}
    hr
    .jumbotron
        //h3 Във Варна, София и Велико Търново отвори врати едно дългоочаквано място
        //h3 школа за бармани "БАР МЕНИДЖЪР"
        h4 Независимо от Вашата възраст, опит и квалификация в школи "Бар Мениджър" имате възможност да участвате в различни видове обучения. Вие избирате кое е подходящо за Вас. А ако не можете да определите - ние с удоволствие ще Ви помогнем в избора, предвид индивидуалните Ви качества и потребности.
    h3 Представяме Ви 4 типа обучения:
    .row
        .col-sm-12
            .thumbnails
                .row
                    .col-sm-6
                        .thumbnail
                            img(src="../../images/item_psd2html5.jpg", alt="PSD to HTML5 & CSS3")
                            .label.label-success.price
                                span.glyphicon.glyphicon-tag
                                span 400
                                sup лв
                            .caption
                                h3 Курс за коктейл-барман - класическо барманство
                                p Learn how to take a PSD and turn it into a beautiful, hand-coded HTML5 &amp; CSS3 website with this web design crash course.
                                p
                                    a.btn.btn-primary.btn-small(href="/contact") Запиши се
                                    a.btn.btn-link.btn-small(href="") Научи повече
                    .col-sm-6
                        .thumbnail
                            .bs-example
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(src="http://www.youtube.com/embed/4oS2Q3_mngo", allowfullscreen)
                            .label.label-info.price
                                span.glyphicon.glyphicon-tag
                                span Freе
                            .caption
                                h3 Курс за барман "Майсторски клас"
                                p Learn how to take a PSD and turn it into a beautiful, hand-coded HTML5 &amp; CSS3 website with this web design crash course.
                                p
                                    a.btn.btn-primary.btn-small(href="/contact") Запиши се
                                    a.btn.btn-link.btn-small(href="") Научи повече
    h4 1. Курсове за коктейл-барман  (класическо барманство)
    p Обучението е по програма на Международната Асоциация на Барманите  (I.B.A - International Bartenders Association). Това обучение може да се провежда само от оторизирани представители на I.B.A.  В школи "Бар Мениджър" всички преподаватели са оторизирани и имат необходимата квалификация за провеждане на обучението.
    p След успешното завършване на курса за коктейл-барман получа-вате международен сертификат, издаден от I.B.A и валиден в 59 страни. Обучението автоматично Ви прави и член на  Българ-ската Асоциация на Барманите.
    p Участниците се обучават по специална тренинг програма на I.B.A  за "коктейл барман" и основното обучение е по тази програма. Но предвид изисква-нията към барманите в повечето български заведения - освен пригот-вяне на коктейли са необходими и много други умения. Затова в школи "Бар Мениджър" обучението е по-разширено, за да подготвим нашите курсисти идеално за работа не само в чужбина, но и в България. Основната цел на курсове-те, които предлагаме е участниците да придобият ефикасни уме-ния, техники и знания, които да им послужат в последствие. Ще получите не само теоретични знания за класификация на напит-ките, коктейлни рецепти, методи на миксиране, сервиране, тех-ника на продажба, общуване с клиента, но и практически умения - подреждане на бар, работа с всички видове барови инструмен-ти, приготвяне на коктейли, гарнитури, работа с кафемашина, основи на баристиката. Ще бъдете идеално подготвени за коктейл-бармани.
    h4 2. Курсове за барман  "Майсторски клас"
    p ова обучение е предназначено за бармани с минимум 1 година опит или за хора, които вече са преминали курса за коктейл-барман в школи "Бар Мениджър". Необходимо е да отгова-ряте на едно от тези условия, пора-ди спецификата на обучението. Курсът "Майсторски клас" включва всички иновации в барманството, които навлязоха последните години. Включени са и съвсем нови тенденции както за България, така и в световен мащаб. В края на обучението получавате и сертификат.
    h4 3. Курсове за баристи
    p Барист означава специалист в приготвянето на кафе и кафе-напитки.  По света професията на бариста е престижна и успешна. В България е все още нещо ново, но бързо набира  популярност и вече се търсят такива специалисти. А те са недостатъчно. Ето защо Ви предлагаме възможност да станете един търсен специалист в тази област и бърза реализация.  А след  успешното завършване на курса получавате международен сертификат. Предлагаме възможност да получите и сертификат и от S.C.A.E (Speciality Coffee Association of Europe);
    h4 4. Курсове по флеър (атрактивно барманство)
    p Ще се учите от най-добрите флеър бармани в България.  Школи "Бар Мениджър" са единствените оторизирани да провеждат това обучение в България от Светованта Флеър Асоциация (W.F.A - World Flair Association). Обучението е на няколко нива и е много интересно. Получавате сертификат от W.F.A за всяко успешно преминато ниво.
    hr
    h4 Всички програми се основават на едно единствено правило: теория + практика. Не сме привърженици на сухите и скучни лекции.
    p Обученията са независими едно от друго, въпреки, че всички са част от барманското изкуство. При нас не просто ще изкарате някакъв курс.
    p Школи за бармани "Бар Мениджър" предлагат и съдействие за работа на някои от добрите курсисти. От услугите на школите се възползват много мениджъри и собственици на заведения от цялата страна. Не осигуряваме работа на всички участници.
    p Можете да получите индивидуална консултация и по всички въпроси, свързани с барманството от специалисти с дългогодишен опит. Тези консултации за напълно безплатни за всички, преминали през нашите курсове.
    hr
    h3 НА ВСИЧКИ СОБСТВЕНИЦИ И МЕНИДЖЪРИ НА ЗАВЕДЕНИЯ предлагаме:
    p - обучени кадри със съответните международни сертификати, със знания не само на теория, но и на практика. За Вас избираме най-добрите курсисти.  В зависимост от предпочитанията Ви поддържаме и база данни с по-опитни кадри;
    p - обучение на персонал по Вашето меню или по меню, създадено от нас според цялостната концепция на заведението;
    p - голямо разнообразие от бар консумативи по каталог (чаши, салфетки, сламки, бъркалки и др.) на атрактивни цени и с отстъпки за редовни клиенти;
    p - френски добавки за напитки "МОНИН" (сиропи, пюрета, гурме сосове);
    p - консултации за Вашето заведение -  избор на помещение, счетоводни и правни съвети, съставяне и печат на меню;
    h3 За повече подробности посетете страницата: управление на бар
    p Разполагаме и с тренинг флеър зала, за да поддържате и усъвършенствате Вашите умения ежедневно. Тренинг залата може да използвате и за да се подготвите за предстоящо състезание, независимо дали сте били наши ученици или не - ние ще Ви предоставим идеални условия за това. Предлагаме всички необходими атрибути за тренировка. Тук може да срещнете и обмените опит с други привърженици на тази дисциплина.

