.container
    #teachers.row
        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title Ивайло Рангелов
                .panel-body
                    img.img-rounded(src="images/Ivailo.jpg" alt='Ivo Rangelov')
                .panel-footer
                p Основател на школите.
                p Преподавател курс - бармани и майсторски клас
                a.btn.btn-danger.btn-block(href='#modalIvo' data-toggle="modal") Повече информация
                #modalIvo.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(data-dismiss="modal") &times;
                                h4.modal-title Ивайло Рангелов
                            .modal-body
                                ul
                                    li(ng-repeat="t in teachers | filter: 'Ивайло Рангелов'") {{t.concurse}}
                                    hr
                                    p ....и още няколко участия в състезания, в които е заемал позиция след 3-то място
                                    li Към момента Ивайло Рангелов е член на Контролния съвет в Българска Асоциация на Барманите и собственик на коктейл-барове "The Garden Bar" гр.Варна, "Тики Бар" гр.София.
                            .modal-footer
                                a.btn.btn-default(data-dismiss="modal" type="button") Close

        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title Лозан Лозев
                .panel-body
                    img.img-rounded(src="images/Lozan.jpg" alt='Lozan Lozev')
                .panel-footer
                p .
                p Преподавател курс - бармани
                a.btn.btn-success.btn-block(href='#modalLozan' data-toggle="modal" target="_blank") Повече информация
                #modalLozan.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(data-dismiss="modal") &times;
                                h4.modal-title Лозан Лозев
                            .modal-body
                                ul
                                    li(ng-repeat="t in teachers | filter: 'Лозан Лозев'") {{t.concurse}}
                                    hr
                                    li Към момента Лозан Лозев е член на Управителния съвет в Българска Асоциация на Барманите, мениджър на "Министерство на коктейлите" КК Златни пясъци и бранд амбасадор на "МОНИН".
                            .modal-footer
                                a.btn.btn-default(data-dismiss="modal" type="button") Close
        .col-sm-4.feature
            .panel.panel-success
                .panel-heading
                    .panel-title Росен Михайлов
                .panel-body
                    img.img-rounded(src="images/Roco.jpg" alt='Rosen Mihailov')
                .panel-footer
                p .
                p Преподавател курс - бармани и майсторски клас
                a.btn.btn-success.btn-block(href='#modalRosen' data-toggle="modal" target="_blank") Повече информация
                #modalRosen.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(data-dismiss="modal") &times;
                                h4.modal-title Росен Михайлов
                            .modal-body
                                ul
                                    li(ng-repeat="t in teachers | filter: 'Росен Михайлов'") {{t.concurse}}
                                    hr
                                    li Към момента Росен Михайлов е член на Контролния съвет в Българска Асоциация на Барманите, управител на "Playground" THE MALL SOFIA  и бранд амбасадор на "МОНИН".
                            .modal-footer
                                a.btn.btn-default(data-dismiss="modal" type="button") Close
